.red{
  background-color: red;
  width: 100px;
  height: 100px;
  /* position: absolute; */
  z-index: 1;
}
.yellow{
  background-color: yellow;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 20;
  margin: 20px;


}
.blue{
  background-color: blue;
  width: 100px;
  height: 100px;
  /* position: absolute; */
  z-index: -1;
  margin: 40px;

}
